* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.snackbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 270px;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    padding: 10px;
}

.snackbar_message {
    font-weight: 600;
}
